.headerDiv {
  background-color: rgba(0, 173, 255, 1);
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 25vh;

  .header {
    color: #f0ffff;
  }
}

.canvasDiv {
  height: 75vh;
}
