.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;

  .canvas {
    flex-grow: 1; /* default 0 */
    color: #f0ffff;
  }
  .loadingSpinner {
    justify-content: center;
    align-self: center;
    height: 5rem;
  }
  .buttonRow {
    padding: 0rem;
  }
}
